.App {
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: linear-gradient(to right, #4D8B31, #324928);
}


.bookThumbnail {
  max-width: 20%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bookBox {
  border: 2px groove rgb(52, 77, 93)  ;
  background-color:rgb(120, 161, 187);
  box-shadow: 0px 0px 8px 2px rgba(red, green, blue, alpha);
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
}

.bookList {

 list-style-type: none;
}








































/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
